<div class="foto-wrap">
  @if (deviceType!=='Desktop') {
    <img class="main-foto" mat-card-image src="../assets/cyprus_profile2.jpg">
  }
</div>
<div class="about-main-container">
    <section class="about-text-container">
        <div class="text-title">
            <div>Hi, I am Andrey Andusenko!</div>
            <div class="typying"><app-typing-animation></app-typing-animation></div>
        </div>
        <div class="base-color">
            <span class="accent-color bold-item">Main stack: </span>
            Angular (+RxJs deep), Node.js, PostgreSQL
            <span class=" base-color bold-item">
                (English - C1)

            </span> 
        </div>
        <div class="personal">
            <div class="personal-item">
            <mat-icon svgIcon="group-fill" ></mat-icon>
            Fully committed full stack developer
            </div>
            <div class="personal-item base-color bold-item">
            <mat-icon svgIcon="group-fill" ></mat-icon>
            I really love what I do
            </div>
            <div class="personal-item" >
            <mat-icon svgIcon="group-fill"></mat-icon>
            Creating apps and pushing limits drives me
            </div>
        </div>
        <div class="projects">
            <div class="accent-color bold-item">Projects:</div>
            @for (project of this.projectsData ; track project.id ) {
                <div class="project-container">
                    <div class="project-title">
                        <mat-icon [svgIcon]="project.icon"></mat-icon>
                        <span class="base-color">{{project.title}}</span>
                    </div>
                    <div class="project-bullets">
                        @for ( bullet of project.bullets ; track bullet ) {
                            <div class="project-bullets-item" >
                            <mat-icon svgIcon="check-fill" ></mat-icon>
                                {{bullet}}
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
    @if (deviceType==='Desktop') {
        <img  mat-card-image src="../assets/cyprus_profile2.jpg">
    }
</div>