<div class="title-container">
  <div class="title-wrap">
<!--     <img src="../assets/logo.png" alt=""> -->
    <div class="title-container-text">
  <!--     <h3>Asset Management Platform</h3> -->
      <h3>Core Architecture and Functionality</h3>
      <div class="mobile-ref-wrap">
        <a href="https://p2zpsq4w-5001.euw.devtunnels.ms/apps/aam/" target="_blank">Feel free to test the platform</a><br>
        <a href="https://github.com/AndrewAndrusenko/AAM" target="_blank">GitHub Repository</a>
      </div>
    </div>
  </div>
  <div class="ref-wrap">
    <a class="desktop-ref" href="https://p2zpsq4w-5001.euw.devtunnels.ms/apps/aam/" target="_blank">Feel free to test the platform</a>
<!--     <a class="desktop-ref" style="color: black;" href="https://github.com/AndrewAndrusenko/AAM" target="_blank">GitHub Repository</a> -->
  </div>
</div>
<img class="slide-img" src=" assets/Architecture Chart-App CV.drawio.svg" alt="">