@use '../../styles/variables.scss' as vars; 
@use "../../styles//media.mixin.scss" as *;
.typingBlockying-block {
    color: vars.$base---primary;
    font-size: 1.9vw; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
    @include mobile {
      font-size: vars.$body---l---regular;
    }
    & > span {
      color:vars.$base---primary; 
      font-weight: 400;
    }
}
#cursor {
  animation: blink 1s linear infinite;
  color: vars.$base---primary; 
  font-size: 1.9vw; 
  @include mobile {
      font-size: vars.$body---l---regular;
  }
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}