@use '../../styles/variables.scss' as vars; 
.typingBlockying-block {
    color: vars.$base---primary;
    font-size: 1.9vw; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
    & > span {
      color:vars.$base---primary; 
      font-weight: 400;
    }
}
#cursor {
  animation: blink 1s linear infinite;
  color: vars.$base---primary; 
  font-size: 1.9vw; 
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
@media (max-width:480px) {
  .typingBlockying-block  {
    font-size: 6vw;
  }
  #cursor {
    font-size: 6vw; 
  }
}