@use './app//styles//variables.scss' as vars;
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  --boxShadowColor: rgb(18, 18, 18);
}
* {
  font-family: "Onest" !important;
  scroll-behavior: smooth;
}
html, body { 
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    &::-webkit-scrollbar-track {
      background-color:vars.$base---light-hover;
    }
    &::-webkit-scrollbar {
        -webkit-box-shadow: none;
        width:6px  !important;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: none;
        border: 60px solid vars.$base---primary;
        border-radius: 60px;
        width:6px ;
    }

 }
.mdc-tooltip__surface {
    color:vars.$base---primary !important;
    background: vars.$base---secondary !important;
    font-family: vars.$font-family !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    border-radius: 6px !important;
    padding: 8px;
}
.mdc-snackbar__surface {
    border-radius: 6px !important;
    background-color:vars.$base---secondary !important;
    color: vars.$base---primary !important;
    white-space: pre-wrap !important;
    border-radius: vars.$corner-radius--m !important;
}
.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    --mat-button-text-state-layer-color: #DBEAFE !important;
}