/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
:root {
  --mainFontColor: rgb(183, 174, 185);
  --boxShadowColor: rgb(18, 18, 18);

}
* {
  font-family: "Onest" !important;
  scroll-behavior: smooth;
}
html, body { 
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    overflow: auto;

 }
.customm-icon {
  width: 2vw;
  height: 4vh;
}
.navigate-button {
  background-color: rgb(44, 64, 61);
  padding:0px;
  margin: 0px;
  font:inherit;
  color:inherit;
} 
.snackbar-success {
  background-color: rgb(91, 143, 180);
  color: rgb(232, 233, 238);
  white-space: pre-wrap;
  padding: 1%;
}